<!-- Internal Links -->

	<link href="/assets/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="/assets/css/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if lt IE 8]>
	    <link href="/assets/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->

	<!-- Pygments CSS file for Syntax Highlighting -->
	<link rel="stylesheet" href="/assets/css/pygments/friendly.css" type="text/css" media="screen, projection" />
	<!-- Personal CSS Files -->
	<link rel="stylesheet" href="/assets/css/general.css" type="text/css" media="screen, projection" />

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>

<!-- End Internal Links -->