<!-- Internal Links -->

	<!-- Framework CSS -->
	<link rel="stylesheet" href="/assets/css/blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/assets/css/blueprint/print.css" type="text/css" media="print" />
	<!--[if IE]><link rel="stylesheet" href="assets/css/blueprint/ie.css" type="text/css" media="screen, projection"/><![endif]-->

	<!-- Import fancy-type plugin. -->
	<link rel="stylesheet" href="/assets/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" />
	<!-- Pygments CSS file for Syntax Highlighting -->
	<link rel="stylesheet" href="/assets/css/pygments/friendly.css" type="text/css" media="screen, projection" />
	<!-- Personal CSS Files -->
	<link rel="stylesheet" href="/assets/css/general.css" type="text/css" media="screen, projection" />

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>

<!-- End Internal Links -->