/* Colour Definitions */
$body-background-colour: #443B36;
$content-background-colour: #FFF8DD;
$menu-background-colour: #802A2A;
$code-background-colour: #eeeeee;

$menu-text-colour: #cccccc;
$date-text-colour: #8d8861;

/* Measurments */
$radius: 6px;

/* Imports */
@import "compass/css3/border-radius";


h2 { 
	font-family: 'Play', arial, serif;
}

a {
	&:link, &:visited, &:active { text-decoration: none; border: none; }
}

/* Convinience Deffinitions */
.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.hr-tight {
	height: 1px; 
	border: 0px; 
	margin-top: .1em; 
	margin-bottom: .1em;
}

/* Elements */

.subheader {
	margin-top: .5em; 
	margin-bottom: .5em;
}

.subheader-text {
	margin-top: 0; 
	margin-bottom: 0;
}

.text {
	font-size: 115%;
    padding-bottom: 1em;
    margin-bottom: 2em;
    position: relative;
}

.photo {
	padding-right: 1.5em;
}

.date {
    color: $date-text-colour;
	border: 0px; 
	margin-top: .1em; 
	margin-bottom: .1em;
}

.tags {
	color: #8d8861;
}

body {
	background: $body-background-colour;
}

.container {
	background: $content-background-colour;
}

.box {
	background: $menu-background-colour;
	color: $menu-text-colour;
	@include border-radius($radius);
	
	h3 {
		color: $menu-text-colour;
	} 
}

.highlight {
	
	pre {
		background: $code-background-colour;
		padding: 1em;
		border-width: 1px;
		border-style: solid;
		@include border-radius($radius)
	}
}
