h2 { font-family: 'Play', arial, serif; }
A:link, A:visited, A:active { text-decoration: none; border: none; }

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.hr-tight {
	height: 1px; 
	border: 0px; 
	margin-top: .1em; 
	margin-bottom: .1em;
}

.subheader {
	margin-top: .5em; 
	margin-bottom: .5em;
}

.subheader-text {
	margin-top: 0; 
	margin-bottom: 0;
}

.text {
	font-size: 115%;
    padding-bottom: 1em;
    margin-bottom: 2em;
    position: relative;
}

.photo {
	padding-right: 1.5em;
}

.date {
    color:#8d8861;
	border: 0px; 
	margin-top: .1em; 
	margin-bottom: .1em;
}

.tags {
	color: #8d8861;
}

body {
	background: #443B36;
}

.container {
	background: #FFF8DD;
}

.box {
	background: #802A2A;
	color: #cccccc;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

.box h3 {
	color: #cccccc;
}


.highlight pre {
	background: #eeeeee;
	padding:1em;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}
