<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>{{ post.title }}</title>
   	<meta name="author" content="Brian Kidney" />

	<!-- Framework CSS -->
	<link rel="stylesheet" href="/assets/css/blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/assets/css/blueprint/print.css" type="text/css" media="print" />
	<!--[if IE]><link rel="stylesheet" href="assets/css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->

	<!-- Import fancy-type plugin. -->
	<link rel="stylesheet" href="/assets/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" />
	<!-- Pygments CSS file for Syntax Highlighting -->
	<link rel="stylesheet" href="/assets/css/pygments/friendly.css" type="text/css" media="screen, projection" />
	<!-- Personal CSS Files -->
	<link rel="stylesheet" href="/assets/css/general.css" type="text/css" media="screen, projection" />

	<link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
</head>

<body id="index">
<div class="container showgrid">

	<!-- Header -->
	<div id="header" class="prepend-3 append-3 span-18 last">
		<h1 id="brianscude-header">
			Brian's Cube
		</h1>
	</div>
	<hr class="hr-tight"/>
	<div id="subheader" class="subheader prepend-3 append-3 span-18 last">
		<h4 class="alt subheader-text">
			My technical home on the web
		</h4`>
	</div>
	<hr class="hr-tight"/>
	<hr/>
	<!-- End Header -->
	
	<!-- Main Body -->
	<div id="main-content" class="prepend-3 span-13 append-1">
		{{ content }}

		{% if page.comments %}	
			{% include discus.html %}
		{% endif %}
	</div>

	<div id="sidebar" class="span-3 append-3 box last">
		{% include links.html %}
	</div>
	<!-- End Main Body -->

	<!-- Footer -->
	<hr class="hr-tight"/>

	<div class="prepend-3 span-9 small quiet">
		Copyright © 2011 Brian Kidney
	</div>
	<div class="span-9 append-3 small quiet text-right last">
		Site Last Updated: {{ site.time }}
	</div>
	<!-- End Footer -->
</div>

{% include analytics.html %}
		
</body>
</html>