<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>{{ post.title }}</title>

	{% include meta-tags.html %}

	{% include link-rel.html %}
</head>

<body id="index">
<div id="main">

	<!-- Header -->
	<div id="header">
		<h1 id="brianscude-header">
			Brian's Cube
		</h1>
	</div>
	<hr/>
	<div id="subheader" class="subheader">
		<h4 class="alt subheader-text">
			My technical home on the web
		</h4>
	</div>
	<!-- End Header -->

	<hr/>
	<hr/>
	
	<!-- Main Body -->
	<div id="main-content">
		{{ content }}

		{% if page.comments %}	
			{% include discus.html %}
		{% endif %}
	</div>

	<div id="sidebar">
		{% include links.html %}
	</div>
	<!-- End Main Body -->

	<div id="footer">
		<hr/>

		<!-- Footer -->
		<div id="footer-left">
			Copyright © 2011 Brian Kidney
		</div>
		<div id="footer-right">
			Site Last Updated: {{ site.time }}
		</div>
	</div>
	<!-- End Footer -->
</div>

{% include analytics.html %}
		
</body>
</html>